body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    order: 4;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 94%;
  }
  
  .icon {
    font-size: 4rem;
  }

  .icon{
    text-align: center;
    order:-1;
  }

  .emojis {
    display: grid;
    grid-template-rows: 300px 350px;
    grid-template-columns: 410px 415px;
    gap: 15px; 
 
  }

  .emoji p {
    display: flex;
    flex-grow: 1;
 
  }

  .emoji:nth-child(2) {
    padding-top: px;
  }

